{% render "@layouts-header" with header %}
<main>
	<section class="container my-5">
		<h1 class="mb-5">{{ page.title}}</h1>
		{% render "@component-grid--two-columns" with articles_list %}
	</section>
</main>
