<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Fonts -->
{# <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% set requested_fonts = ['PT Sans', 'Bebas Neue', 'Ubuntu','Bodoni Moda', 'Lato', 'Libre Franklin', 'Open Sans'] %}
{{ getGoogleFontLink(requested_fonts)}} #}
{% render "@partials-fonts" %}
<!-- END: Google Fonts -->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'> {% for style in config.assets.styles %}
	<link rel="stylesheet" href="{{ style }}" type="text/css">
{% endfor %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/monokai.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
<script>
	hljs.highlightAll();
</script>
<title>{{ _target.label }}
	| My Component Library</title>
