{% render "@layouts-header" with page.header %}
{% render "@component-social-share--magazine" %}
<main>
	<article class="container py-5">
		<div class="content components">
			<section class="jumbotron mb-5 pb-3">
				<h1 class="mb-5 pb-3">Proficient in HTML5, CSS3,
					<span>PHP</span>, and
					<span>JavaScript</span>. I build digital products with a strong focus on user experience.
				</h1>
			</section>

			<section class="wysiwyg text-end">

				{% render "@component-wysiwyg" with summary %}

			</section>
			<div class="mb-5 pb-5 ">
				{% render "@component-social-share--portfolio-magazine" %}
			</div>
			<section class="list list--articles position-relative py-5 mb-5">

				{% render "@component-list--articles-image" with articles_list %}

			</section>

		</div>
	</article>
</main>
