{# 
	{% include "@component-card--headline" with {
			"link": {
				"aria_label": "",
				"label": "Link Text",
				"url": "#",
				"icon": ""
			},
			"title": "Card title",
			"text": "Some quick example text to build on the card title and make up the bulk of the card's content."
		} 
	%}
#}
<div class="card card-headline {{ classes }}">

	<div class="card-header">
		{% if item.categories %}
			{% render '@partials-link' with {
				classes:'card-tag',
				icon: '',
				title: item.categories,
			} %}
		{% endif %}
		{% if item.meta.date %}
			<span class="card-date">
				{% render "@partials-date" with item.meta.date %}
			</span>
		{% endif %}
	</div>

	<div class="card-body">

		<h6 class="card-title">{{ item.title }}</h6>

	</div>
</div>
