{% render "@layouts-header" with header %}
<main>
	<article class="my-5">
		<header class="">
			<section class="container">
				<p class="mb-3">
					<a href="#" rel="tag">{{ primary_cateogry }}</a>
				</p>
				<h1 class="mb-3 display-3">{{ title }}</h1>
				<div class="mb-3">
					<div class="author-byline d-flex">
						{% render "@partials-author" %}
						{% render "@partials-date" %}
					</div>
				</div>
				<div class="mb-5">
					{% render "@component-social-share--article--magazine" %}
				</div>
			</section>
		</header>
		<section class="container mb-5">
			{% render "@content-picture" with picture %}
		</section>
		<section class="components container mw-lg-container-md mb-5">
			{% render "@component-code" with {
				classes:'language-js rounded-3',
				content:code_one.content
			} %}
			{% render "@component-code" with {
				classes:'language-js rounded-3',
				content:code_two.content
			} %}
			{% render "@component-lead" with {content:excerpt} %}
			{% render "@component-wysiwyg" with wysiwyg_one %}
			{% render "@content-picture" with {
				id: null,
				alt: '',
				classes: 'aspect-ratio-widescreen alignfullscreen',
				src: 'placeholder',
				loading: 'lazy',
				size: 'large'
			} %}
			{% render "@component-wysiwyg" with wysiwyg_two %}
			{% render "@component-wysiwyg" with wysiwyg_three %}
		</section>
		<footer class="mb-5">
			<section class="container related-articles pt-5">
				{% render "@component-grid--three-columns" with related_articles %}
			</section>
		</footer>
	</article>
</main>
