<main class="container d-lg-flex column-gap-3 py-5">
	<div class="page-article col">
		{% render "@partials-article-header" %}
		{% render "@partials-article-body" %}
	</div>
	{% render "@layouts-sidebar" %}
</main>
