<main>

	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-md-8">
				{% render "@component-featured-section--hollywood" %}
			</div>
			<div class="col-12 col-md-4">
				{% render "@component-list--articles-headline" with latest_news %}
			</div>
		</div>
	</div>

	<div class="container py-5">
		<div class="row">
			<div class="col-12">
				{% render "@component-carousel" %}
			</div>
		</div>
	</div>

	<div class="container py-5">
		<div class="row">
			<div class="col-12">
				{% render "@component-featured-section--category" %}
			</div>
		</div>
	</div>

	<div class="container py-5">
		{% render "@component-grid" with grid %}
	</div>

</main>
