<div class="typography">
	<!-- WYSIWYG -->

	<!-- Headings -->
		<h1>
	H1 Crass Viverra Ante Vitate Dictum
	</h1>

		<div class="lead"> <p>Cras viverra ante vitae dictum vestibulum. Nam placerat nulla eu dolor scelerisque mattis et in diam. Quisque tempor ullamcorper odio sit amet vestibulum.</p>
	</div>

	<h2>H2 Crass Viverra Ante Vitate Dictum</h2>

	<p>Cras viverra ante vitae dictum vestibulum. Nam
		<a href="#">placerat</a>
		nulla eu dolor scelerisque mattis et in diam. Quisque tempor
		<a href="#">ullamcorper</a>
		odio sit amet vestibulum. Praesent cursus tellus nunc, ut venenatis lacus scelerisque sed. Pellentesque mi risus, ultrices id fringilla non, sodales non mi. In feugiat lorem id efficitur euismod.</p>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>

	<h3>H3 Crass Viverra Ante Vitate Dictum</h3>

	<p>Metus vulputate eu scelerisque felis imperdiet proin. Lorem ipsum dolor sit amet. A pellentesque sit amet porttitor. Viverra nam libero justo laoreet sit. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Odio facilisis mauris sit amet massa vitae tortor. Sed augue lacus viverra vitae congue eu consequat ac felis. Duis at tellus at urna condimentum mattis. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Lacus sed turpis tincidunt id aliquet. Felis imperdiet proin fermentum leo vel. Dictumst vestibulum rhoncus est pellentesque elit. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Condimentum lacinia quis vel eros donec ac odio. Fermentum leo vel orci porta non pulvinar. Aenean et tortor at risus viverra.</p>
	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>
	<p>Egestas fringilla phasellus faucibus scelerisque eleifend. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Velit euismod in pellentesque massa placerat duis. Enim blandit volutpat maecenas volutpat blandit aliquam. Neque aliquam vestibulum morbi blandit cursus risus at. In arcu cursus euismod quis viverra. Volutpat sed cras ornare arcu dui vivamus arcu. At consectetur lorem donec massa sapien faucibus et. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Commodo sed egestas egestas fringilla phasellus faucibus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci a scelerisque purus semper eget duis at tellus. Nunc id cursus metus aliquam eleifend mi in. Sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>

	<h4>H4 Crass Viverra Ante Vitate Dictum</h4>

	<p>Egestas fringilla phasellus faucibus scelerisque eleifend. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Velit euismod in pellentesque massa placerat duis. Enim blandit volutpat maecenas volutpat blandit aliquam. Neque aliquam vestibulum morbi blandit cursus risus at. In arcu cursus euismod quis viverra. Volutpat sed cras ornare arcu dui vivamus arcu. At consectetur lorem donec massa sapien faucibus et. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Commodo sed egestas egestas fringilla phasellus faucibus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci a scelerisque purus semper eget duis at tellus. Nunc id cursus metus aliquam eleifend mi in. Sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>
	<p>Consequat interdum varius sit amet mattis vulputate. Ut venenatis tellus in metus vulputate eu. Nunc consequat interdum varius sit amet. Dignissim enim sit amet venenatis. Condimentum id venenatis a condimentum. Proin libero nunc consequat interdum varius. Tellus mauris a diam maecenas sed enim ut sem. Vitae auctor eu augue ut lectus arcu bibendum at. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Nec dui nunc mattis enim. Quis hendrerit dolor magna eget est lorem ipsum. Vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>

	<h5>H5 Crass Viverra Ante Vitate Dictum</h5>


	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Id aliquet lectus proin nibh nisl condimentum id venenatis. Amet tellus cras adipiscing enim. Elementum sagittis vitae et leo duis ut diam quam. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl nunc mi ipsum faucibus vitae aliquet nec. Ac turpis egestas maecenas pharetra. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Proin libero nunc consequat interdum varius sit. Quis viverra nibh cras pulvinar mattis nunc sed blandit. In egestas erat imperdiet sed euismod nisi porta lorem. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ultrices dui sapien eget mi proin sed libero. Bibendum enim facilisis gravida neque convallis a cras. Donec adipiscing tristique risus nec. Leo in vitae turpis massa sed elementum tempus egestas.</p>
	<p>Metus vulputate eu scelerisque felis imperdiet proin. Lorem ipsum dolor sit amet. A pellentesque sit amet porttitor. Viverra nam libero justo laoreet sit. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Odio facilisis mauris sit amet massa vitae tortor. Sed augue lacus viverra vitae congue eu consequat ac felis. Duis at tellus at urna condimentum mattis. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Lacus sed turpis tincidunt id aliquet. Felis imperdiet proin fermentum leo vel. Dictumst vestibulum rhoncus est pellentesque elit. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Condimentum lacinia quis vel eros donec ac odio. Fermentum leo vel orci porta non pulvinar. Aenean et tortor at risus viverra.</p>
	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>

	<h6>H6 Crass Viverra Ante Vitate Dictum</h6>


	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Id aliquet lectus proin nibh nisl condimentum id venenatis. Amet tellus cras adipiscing enim. Elementum sagittis vitae et leo duis ut diam quam. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl nunc mi ipsum faucibus vitae aliquet nec. Ac turpis egestas maecenas pharetra. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Proin libero nunc consequat interdum varius sit. Quis viverra nibh cras pulvinar mattis nunc sed blandit. In egestas erat imperdiet sed euismod nisi porta lorem. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ultrices dui sapien eget mi proin sed libero. Bibendum enim facilisis gravida neque convallis a cras. Donec adipiscing tristique risus nec. Leo in vitae turpis massa sed elementum tempus egestas.</p>
	<p>Metus vulputate eu scelerisque felis imperdiet proin. Lorem ipsum dolor sit amet. A pellentesque sit amet porttitor. Viverra nam libero justo laoreet sit. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Odio facilisis mauris sit amet massa vitae tortor. Sed augue lacus viverra vitae congue eu consequat ac felis. Duis at tellus at urna condimentum mattis. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Lacus sed turpis tincidunt id aliquet. Felis imperdiet proin fermentum leo vel. Dictumst vestibulum rhoncus est pellentesque elit. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Condimentum lacinia quis vel eros donec ac odio. Fermentum leo vel orci porta non pulvinar. Aenean et tortor at risus viverra.</p>


	{% render "@content-figure" with {
		caption:"",
		classes:'aligncenter',
		image:{
			alt: 'Ab nulla officiis eligendi omnis iste at distinctio vel amet',
			caption: 'Ab nulla officiis eligendi omnis iste at distinctio vel amet',
			classes: 'figure-img',
			id: null,
			loading: 'lazy',
			size: 'small',
			sources: {
				'1024px': image_sizes['large'],
				'960px': image_sizes['medium_large'],
				'720px': image_sizes['medium'],
				'540px': image_sizes['small'],
				'360px': image_sizes['thumbnail']
			},
			src: 'placeholder'
		},
	} %}


	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>
	<p>Egestas fringilla phasellus faucibus scelerisque eleifend. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Velit euismod in pellentesque massa placerat duis. Enim blandit volutpat maecenas volutpat blandit aliquam. Neque aliquam vestibulum morbi blandit cursus risus at. In arcu cursus euismod quis viverra. Volutpat sed cras ornare arcu dui vivamus arcu. At consectetur lorem donec massa sapien faucibus et. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Commodo sed egestas egestas fringilla phasellus faucibus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci a scelerisque purus semper eget duis at tellus. Nunc id cursus metus aliquam eleifend mi in. Sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>
	<p>Consequat interdum varius sit amet mattis vulputate. Ut venenatis tellus in metus vulputate eu. Nunc consequat interdum varius sit amet. Dignissim enim sit amet venenatis. Condimentum id venenatis a condimentum. Proin libero nunc consequat interdum varius. Tellus mauris a diam maecenas sed enim ut sem. Vitae auctor eu augue ut lectus arcu bibendum at. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Nec dui nunc mattis enim. Quis hendrerit dolor magna eget est lorem ipsum. Vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>


	{% render "@content-figure" with {
		caption:"",
		classes:'alignright',
		image:{
			alt: 'Ab nulla officiis eligendi omnis iste at distinctio vel amet',
			caption: 'eligendi omnis iste at distinctio vel amet',
			classes: 'figure-img',
			id: null,
			loading: 'lazy',
			size: 'small',
			sources: {
				'1024px': image_sizes['large'],
				'960px': image_sizes['medium_large'],
				'720px': image_sizes['medium'],
				'540px': image_sizes['small'],
				'360px': image_sizes['thumbnail']
			},
			src: 'placeholder'
		},
	} %}


	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Id aliquet lectus proin nibh nisl condimentum id venenatis. Amet tellus cras adipiscing enim. Elementum sagittis vitae et leo duis ut diam quam. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl nunc mi ipsum faucibus vitae aliquet nec. Ac turpis egestas maecenas pharetra. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Proin libero nunc consequat interdum varius sit. Quis viverra nibh cras pulvinar mattis nunc sed blandit. In egestas erat imperdiet sed euismod nisi porta lorem. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ultrices dui sapien eget mi proin sed libero. Bibendum enim facilisis gravida neque convallis a cras. Donec adipiscing tristique risus nec. Leo in vitae turpis massa sed elementum tempus egestas.</p>
	<p>Metus vulputate eu scelerisque felis imperdiet proin. Lorem ipsum dolor sit amet. A pellentesque sit amet porttitor. Viverra nam libero justo laoreet sit. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Odio facilisis mauris sit amet massa vitae tortor. Sed augue lacus viverra vitae congue eu consequat ac felis. Duis at tellus at urna condimentum mattis. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Lacus sed turpis tincidunt id aliquet. Felis imperdiet proin fermentum leo vel. Dictumst vestibulum rhoncus est pellentesque elit. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Condimentum lacinia quis vel eros donec ac odio. Fermentum leo vel orci porta non pulvinar. Aenean et tortor at risus viverra.</p>
	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>

	{% render "@content-figure" with {
		caption:"",
		classes:'alignleft',
		image:{
			alt: 'Ab nulla officiis eligendi omnis iste at distinctio vel amet',
			caption: 'Ab nulla officiis eligendi omnis iste at distinctio vel amet',
			classes: 'figure-img',
			id: null,
			loading: 'lazy',
			size: 'small',
			sources: {
				'1024px': image_sizes['large'],
				'960px': image_sizes['medium_large'],
				'720px': image_sizes['medium'],
				'540px': image_sizes['small'],
				'360px': image_sizes['thumbnail']
			},
			src: 'placeholder'
		},
	} %}


	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Id aliquet lectus proin nibh nisl condimentum id venenatis. Amet tellus cras adipiscing enim. Elementum sagittis vitae et leo duis ut diam quam. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl nunc mi ipsum faucibus vitae aliquet nec. Ac turpis egestas maecenas pharetra. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Proin libero nunc consequat interdum varius sit. Quis viverra nibh cras pulvinar mattis nunc sed blandit. In egestas erat imperdiet sed euismod nisi porta lorem. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ultrices dui sapien eget mi proin sed libero. Bibendum enim facilisis gravida neque convallis a cras. Donec adipiscing tristique risus nec. Leo in vitae turpis massa sed elementum tempus egestas.</p>
	<p>Metus vulputate eu scelerisque felis imperdiet proin. Lorem ipsum dolor sit amet. A pellentesque sit amet porttitor. Viverra nam libero justo laoreet sit. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Odio facilisis mauris sit amet massa vitae tortor. Sed augue lacus viverra vitae congue eu consequat ac felis. Duis at tellus at urna condimentum mattis. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Lacus sed turpis tincidunt id aliquet. Felis imperdiet proin fermentum leo vel. Dictumst vestibulum rhoncus est pellentesque elit. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Condimentum lacinia quis vel eros donec ac odio. Fermentum leo vel orci porta non pulvinar. Aenean et tortor at risus viverra.</p>

	<hr>
	<!-- Blockquote - WYSIWYG -->
	<blockquote class="blockquote">
		<p>A well-known quote, contained in a blockquote element.</p>
	</blockquote>
	<!-- END Blockquote - WYSIWYG -->
	<hr>

	<!-- @components - Blockquote - WYSIWYG -->
	{% render "@components-blockquote" with {
		classes: '',
		quote: 'A well-known quote, contained in a blockquote element.',
		quote_author: '',
		quote_author_title: ''
	} %}
	<!-- END @components - Blockquote - WYSIWYG -->

	<hr>

	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>
	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Curabitur blandit tempus porttitor.</p>

	<hr>

	<!-- Blockquote - WYSIWYG -->

	<figure>
		<blockquote class="blockquote">
			<p>A well-known quote, contained in a blockquote element.</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			Someone famous in
			<cite title="Source Title">Source Title</cite>
		</figcaption>
	</figure>

	<!-- END Blockquote - WYSIWYG -->

	<hr>

	<!-- @components - Blockquote - WYSIWYG -->

	{% render "@components-blockquote" with {
		classes: '',
		quote: 'A well-known quote, contained in a blockquote element.',
		quote_author: 'Someone famous in',
		quote_author_title: 'Source Title'
	} %}

	<!-- END @components - Blockquote - WYSIWYG -->

	<hr>

	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>
	<p>Egestas fringilla phasellus faucibus scelerisque eleifend. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Velit euismod in pellentesque massa placerat duis. Enim blandit volutpat maecenas volutpat blandit aliquam. Neque aliquam vestibulum morbi blandit cursus risus at. In arcu cursus euismod quis viverra. Volutpat sed cras ornare arcu dui vivamus arcu. At consectetur lorem donec massa sapien faucibus et. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Commodo sed egestas egestas fringilla phasellus faucibus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci a scelerisque purus semper eget duis at tellus. Nunc id cursus metus aliquam eleifend mi in. Sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>
	<p>Consequat interdum varius sit amet mattis vulputate. Ut venenatis tellus in metus vulputate eu. Nunc consequat interdum varius sit amet. Dignissim enim sit amet venenatis. Condimentum id venenatis a condimentum. Proin libero nunc consequat interdum varius. Tellus mauris a diam maecenas sed enim ut sem. Vitae auctor eu augue ut lectus arcu bibendum at. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Nec dui nunc mattis enim. Quis hendrerit dolor magna eget est lorem ipsum. Vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>

	<hr>

	<!-- Blockquote - WYSIWYG -->

	<figure class="text-center">
		<blockquote class="blockquote">
			<p>A well-known quote, contained in a blockquote element.</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			Someone famous in
			<cite title="Source Title">Source Title</cite>
		</figcaption>
	</figure>

	<!-- END Blockquote - WYSIWYG -->

	<hr>

	<!-- @components - Blockquote - WYSIWYG -->

	{% render "@components-blockquote" with {
		classes: 'text-center',
		quote: 'A well-known quote, contained in a blockquote element.',
		quote_author: 'Someone famous in',
		quote_author_title: 'Source Title'
	} %}

	<!-- END @components - Blockquote - WYSIWYG -->

	<hr>

	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>
	<p>Egestas fringilla phasellus faucibus scelerisque eleifend. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Velit euismod in pellentesque massa placerat duis. Enim blandit volutpat maecenas volutpat blandit aliquam. Neque aliquam vestibulum morbi blandit cursus risus at. In arcu cursus euismod quis viverra. Volutpat sed cras ornare arcu dui vivamus arcu. At consectetur lorem donec massa sapien faucibus et. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Commodo sed egestas egestas fringilla phasellus faucibus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci a scelerisque purus semper eget duis at tellus. Nunc id cursus metus aliquam eleifend mi in. Sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>
	<p>Consequat interdum varius sit amet mattis vulputate. Ut venenatis tellus in metus vulputate eu. Nunc consequat interdum varius sit amet. Dignissim enim sit amet venenatis. Condimentum id venenatis a condimentum. Proin libero nunc consequat interdum varius. Tellus mauris a diam maecenas sed enim ut sem. Vitae auctor eu augue ut lectus arcu bibendum at. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Nec dui nunc mattis enim. Quis hendrerit dolor magna eget est lorem ipsum. Vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>

	<hr>

	<!-- Blockquote - WYSIWYG -->

	<figure class="text-end">
		<blockquote class="blockquote">
			<p>A well-known quote, contained in a blockquote element.</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			Someone famous in
			<cite title="Source Title">Source Title</cite>
		</figcaption>
	</figure>

	<!-- END Blockquote - WYSIWYG -->

	<hr>

	<!-- @components - Blockquote - WYSIWYG -->

	{% render "@components-blockquote" with {
		classes: 'text-end',
		quote: 'A well-known quote, contained in a blockquote element.',
		quote_author: 'Someone famous in',
		quote_author_title: 'Source Title'
	} %}

	<!-- END @components - Blockquote - WYSIWYG -->

	<hr>

	<p>In hendrerit gravida rutrum quisque non tellus orci ac auctor. Ultricies leo integer malesuada nunc. Facilisis volutpat est velit egestas dui id. Nunc non blandit massa enim nec dui nunc mattis. Augue lacus viverra vitae congue eu consequat ac felis. At urna condimentum mattis pellentesque id nibh tortor id. Cursus eget nunc scelerisque viverra mauris in aliquam. Eu ultrices vitae auctor eu. Egestas erat imperdiet sed euismod nisi. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Quisque non tellus orci ac auctor augue mauris augue neque. Sed tempus urna et pharetra pharetra massa massa. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Pretium vulputate sapien nec sagittis aliquam. Dignissim sodales ut eu sem integer vitae justo eget magna. At consectetur lorem donec massa sapien faucibus et molestie ac. Interdum velit laoreet id donec ultrices tincidunt arcu. Consectetur purus ut faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis.</p>
	<p>Egestas fringilla phasellus faucibus scelerisque eleifend. Morbi enim nunc faucibus a pellentesque sit amet porttitor eget. Velit euismod in pellentesque massa placerat duis. Enim blandit volutpat maecenas volutpat blandit aliquam. Neque aliquam vestibulum morbi blandit cursus risus at. In arcu cursus euismod quis viverra. Volutpat sed cras ornare arcu dui vivamus arcu. At consectetur lorem donec massa sapien faucibus et. Mi in nulla posuere sollicitudin aliquam ultrices sagittis. Commodo sed egestas egestas fringilla phasellus faucibus. Ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci a scelerisque purus semper eget duis at tellus. Nunc id cursus metus aliquam eleifend mi in. Sollicitudin nibh sit amet commodo nulla facilisi nullam.</p>
	<p>Consequat interdum varius sit amet mattis vulputate. Ut venenatis tellus in metus vulputate eu. Nunc consequat interdum varius sit amet. Dignissim enim sit amet venenatis. Condimentum id venenatis a condimentum. Proin libero nunc consequat interdum varius. Tellus mauris a diam maecenas sed enim ut sem. Vitae auctor eu augue ut lectus arcu bibendum at. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Nec dui nunc mattis enim. Quis hendrerit dolor magna eget est lorem ipsum. Vestibulum lectus mauris ultrices eros in cursus turpis massa.</p>


	<!-- Unordered List -->
	<ul>
		<li>This is a list.</li>
		<li>It appears completely unstyled.</li>
		<li>Structurally, it's still a list.</li>
		<li>However, this style only applies to immediate child elements.</li>
		<li>Nested lists:
			<ul>
				<li>are unaffected by this style</li>
				<li>will still show a bullet</li>
				<li>and have appropriate left margin</li>
			</ul>
		</li>
		<li>This may still come in handy in some situations.</li>
	</ul>

	<!-- Ordered List -->
	<ol>
		<li>This is a list.</li>
		<li>It appears completely unstyled.</li>
		<li>Structurally, it's still a list.</li>
		<li>However, this style only applies to immediate child elements.</li>
		<li>Nested lists:
			<ul>
				<li>are unaffected by this style</li>
				<li>will still show a bullet</li>
				<li>and have appropriate left margin</li>
			</ul>
		</li>
		<li>This may still come in handy in some situations.</li>
	</ol>

	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Handle</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>
	<!-- END: WYSIWYG -->

</div>
