.article--magazine {
	--title-color: var(--bs-emphasis-color);

	&.theme-blue {
		--primary-color: #390efb;
		--primary-low-color: #050119;
		--primary-high-color: #6240fc;
		--primary-bg-color: #fcfcfd;
		--secondary-color: #d0fb0e;
		--secondary-high-color: #dffc59;
	}
	&.theme-purple {
		--primary-color: #8306f5;
		--primary-low-color: #0d0018;
		--primary-high-color: #8f1bf9;
		--primary-bg-color: #fcfcfd;
		--secondary-color: #78f506;
		--secondary-high-color: #78f506;
	}
	&.theme-green {
		--primary-color: #009b3a;
		--primary-low-color: #000f05;
		--primary-high-color: #00b544;
		--primary-bg-color: #fcfcfc;
		--secondary-color: #fed100;
		--secondary-high-color: #ffdf4c;
	}

	&[data-bs-theme='dark'] {
		--bs-body-bg: var(--primary-low-color);
		--bs-body-color: #fff;
		--title-color: #fff;
	}

	a {
		color: var(--primary-high-color);
	}
	a[rel='tag'],
	a[rel='author'] {
		text-decoration: none;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
	h1 {
		text-transform: capitalize;
		color: var(--title-color);
	}
	img {
		border-radius: var(--bs-border-radius);
	}
	a[rel='tag'],
	.author,
	.date {
		font-weight: 500;
		text-transform: uppercase;
	}
	.author-byline {
		.author {
			position: relative;
			&::after {
				content: '•';
				margin-inline: 0 5px;
			}
		}
	}
	.alignwide {
		max-width: 120%;
		margin-left: -10%;
		margin-right: -10%;
	}
	.alignfull {
		max-width: 960px;
		margin-left: -120px;
		margin-right: -120px;
	}
	.alignfullscreen {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		border-radius: 0;
	}
	.components {
		.lead,
		.picture img {
			margin-block: 3rem;
		}
	}
	.nav {
		--#{$prefix}nav-link-font-size: 0.85rem;
		--#{$prefix}nav-link-padding-x: 0.5rem;
	}
	.social-share {
		.icon-link > .bi {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
	.related-articles {
		.grid-container--title {
			font-size: 3rem;
		}
		.card {
			--#{$prefix}card-spacer-x: 0;
			--#{$prefix}card-title-spacer-y: 0.5rem;
			--#{$prefix}card-border-width: 0;
			--#{$prefix}card-cap-padding-x: 0;
			--#{$prefix}card-cap-bg: transparent;
		}
		a[rel='tag'],
		.author {
			font-size: 0.75rem;
		}
	}
}
