.portfolio--magazine {
	&.theme-blue {
		--primary-color: #390efb;
		--primary-low-color: #050119;
		--primary-high-color: #6240fc;
		--primary-bg-color: #fcfcfd;
		--secondary-color: #d0fb0e;
		--secondary-high-color: #dffc59;
		--accent-color: #7759fc;
	}
	&.theme-yellow {
		--primary-color: #fed100;
		--primary-low-color: #141000;
		--primary-high-color: #ffdf4c;
		--primary-bg-color: #fcfcfd;
		--secondary-color: #009b3a;
		--secondary-high-color: #00b544;
		--accent-color: #ffdf4c;
	}
	&.theme-purple {
		--primary-color: #8306f5;
		--primary-low-color: #0d0018;
		--primary-high-color: #8f1bf9;
		--primary-bg-color: #fcfcfd;
		--secondary-color: #78f506;
		--secondary-high-color: #78f506;
		--accent-color: #06f583;
		--accent-high-color: #78f506;
		--accent-color: #a84dfb;
		--svg-background-opacity: 0.1;
	}
	&.theme-green {
		--primary-color: #009b3a;
		--primary-low-color: #000f05;
		--primary-high-color: #00b544;
		--primary-bg-color: #fcfcfc;
		--secondary-color: #fed100;
		--secondary-high-color: #ffdf4c;
		--accent-color: #00e857;
		--accent-high-color: #78f506;
	}

	h1 {
		span {
			color: var(--bs-emphasis-color);
		}
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		text-transform: uppercase;
	}

	img {
		border-radius: var(--bs-border-radius);
	}

	a[rel='tag'],
	.author,
	.date,
	.read-more {
		font-size: 0.85rem;
		font-weight: 500;
		text-transform: uppercase;
	}
	.card {
		--#{$prefix}card-spacer-x: 0;
		--#{$prefix}card-title-spacer-y: 0.5rem;

		a[rel='tag'] {
			display: block;
			margin-bottom: 0.5rem;
		}

		@include media-breakpoint-up(sm) {
			--#{$prefix}card-spacer-y: 0;
		}
		@include media-breakpoint-up(md) {
			--#{$prefix}card-spacer-x: 1rem;
			a[rel='tag'] {
				margin-bottom: 1rem;
			}
		}
	}

	.social-share--portfolio-magazine {
		justify-content: flex-end;
		.icon-link > .bi {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
	.svg-background {
		position: fixed;
		top: -3rem;
		left: 0;
		width: 20rem;

		justify-content: flex-end;
		z-index: -1;
		opacity: var(--svg-background-opacity, 0.085);

		@include media-breakpoint-up(md) {
			left: -4rem;
		}
	}
	.svg-background--icon {
		aspect-ratio: 1/1;
		width: 10rem;
		color: var(--bs-emphasis-color);
		fill: currentColor;
	}
}

@keyframes color-animation {
	0% {
		color: var(--bs-primary);
	}
	50% {
		color: var(--bs-primary-border-subtle);
	}
	100% {
		color: var(--bs-primary);
	}
}
